<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Registration</title>
    <link href="../../../css/bootstrap.css"
          th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>

<div class="container-fluid" style="margin: 0 10px;">

    <div class="row" style="font-size: x-large; border-bottom: 1px solid lightgray;">
        Please Register
    </div>
    <div class="row" style="margin-top: 20px;">
        <form class="form-horizontal col-md-offset-3" method="post"
              action="../students.html" th:action="@{/user/registerit}"
              th:object="${stureg}">


            <div class=" form-group" th:class="form-group">
                <label th:for="${#ids.next('name')}" class="col-md-2 control-label">Username</label>

                <div class="col-md-4">
                    <input type="text" th:field="*{name}" class="form-control"/>
                </div>
            </div>
            <div class=" form-group" th:class="form-group">
                <label th:for="${#ids.next('number')}" class="col-md-2 control-label">Number</label>

                <div class="col-md-4">
                    <input type="text" th:field="*{{number}}" class="form-control"/>
                </div>
            </div>
            <div class="form-group" th:class="form-group">
                <label th:for="${#ids.next('password')}" class="col-md-2 control-label">Password</label>

                <div class="col-md-4">
                    <input type="password" th:field="*{password}" class="form-control"/>
                </div>
            </div>


            <!--<div class="form-group" th:class="form-group">-->
            <!--<label th:for="${#ids.next('role')}" class="col-md-2 control-label">roles</label>-->

            <!--<div class="col-md-4">-->
            <!--<input type="password" th:field="*{{roles}}" class="form-control"/>-->
            <!--</div>-->
            <!--</div>-->


            <div class="form-group ">
                <label class="col-md-2 control-label">Role</label>

                <div class="dropdown col-md-4">

                    <select name="userproperty" class="selectpicker ">
                        <option id="user" value="user">Normaluser</option>
                        <option id="admin" value="admin">Adminstrator</option>

                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button type="submit" class="btn btn-default">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>