<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width-device-width, initial-scale-1"/>
    <meta http-equiv="x-ua-compatible" content="ie-edge"/>
    <link href="../../css/bootstrap.css"
          th:href="@{/css/bootstrap.css}"
          rel="stylesheet" type="text/css"/>
    <title>Welcome to online bookstore.</title>
</head>
<body>
<div class="page-header">
    <h1>Welcome</h1>
</div>
<div class="container">
    <div class="col-md-offset-1 col-md-10">
        <form method="post" action="book.html"
              th:action="@{/book}"
              th:object="${books}">
            <table class="table table-striped">
                <thead>
                <th>Title</th>  th:object="${book}"
                <th>Price</th>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}">book1</td>
                    <td th:text="${book.price}">10.0</td>
                </tr>
                </tbody>
            </table>
            <button name="new" class="btn btn-default">Add One Book</button>
        </form>
    </div>
</div>
<script src="../../js/jquery.js"
        th:src="@{/js/jquery.js}"
        type="text/javascript"></script>
</body>
</html>